<h1 style="text-align: center;">
	Your Credit limit is = <%= @credit_limit %><br>
    Credibility Score = <%= @message %>
</h1>
<h1 style="text-align: center;"><%= link_to 'Home' , root_path %></h1>

